.image-logo {
    width: 100px;
}

.navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        font-weight: bold;
        gap: 10px;

    }
    .icons {
        display: flex;
        align-items: center;
        gap: 20px;
       
    }
   
}
.main-img-inf{
    width: 50px;
    border-radius: 20px;
    padding-right: 2px;
}
.title-logo{
    padding: 0  0 0 1.5rem;
    margin: auto;
    font-weight: bold;
}
.btn-register{
    width: 50px;
    color: #ac8f8f;
    border: #ac8f8f;
}
